body {
    padding-top: 60px;
}

.wordmark {
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

.help-block {
    color: #666;
}


#index .hero-unit {
    background-image: url('../img/books256.png');
    background-position: center right;
    background-repeat: no-repeat;
    padding: 40px 270px 40px 40px;
}
#index .hero-unit h1 {
    margin: 0 0 .2em 0;
}

#index .word {
    padding: 10px;
    margin-left: 15px;
}


#new form {
    margin-top: 1em;
}
#new label {
    font-weight: bold;
}

.vote {
    float: right;
    margin-top: .3em;
    text-align: center;
}
.vote img {
    opacity: .4;
    padding: 0 .15em;
    vertical-align: middle;
}
.vote img:hover {
    opacity: 1;
}
.vote .clicked img {
    opacity: 1;
}
.vote .counts {
    opacity: .7;
}

#vote_new .word,
#vote_new .aufnehmen {
    margin: 20px 0;
}

footer p {
    opacity: .7;
}
