<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Willkommen!{% endblock %} :: Straßendeutsch</title>
    <meta name="description" content="Straßendeutsch - Ein Wörterbuch der deutschen Umgangssprache">
    <meta name="author" content="Fred Wenzel, 2011">

    {# Le HTML5 shim, for IE6-8 support of HTML elements #}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lobster&text=acdehnrsStu%C3%9F' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ url_for('index') }}">{{ strassendeutsch }}</a>

          {% from "macros.html" import nav %}
          {% block nav %}
            {{ nav() }}
          {% endblock %}

          {% block searchbox %}
            <form class="pull-right">
              <input type="text" placeholder="Suchen...">
            </form>
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container" id="{% block content_id %}{% endblock %}">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="messages">
            {% for category, message in messages %}
              <div class="alert-message {{ category }}" data-alert="">
                <a class="close" href="#">×</a>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}

      <footer>
      <p>{{ strassendeutsch }} ist ein Projekt von <a href="http://fredericiana.com">Fred Wenzel</a>, &copy; 2011</p>
      </footer>

    </div> <!-- /container -->

    {% block site_js %}
    <script src="{{ url_for('static', filename='js/jquery-1.6.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alerts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/voting.js') }}"></script>
    {% endblock %}
  </body>
</html>
