{% extends "base.html" %}
{% from "macros.html" import vote %}

{% block title %}{{ word.title }}{% endblock %}
{% block content_id %}detail{% endblock %}

{% block content %}
<div class="row">
  <div class="span10">
    {{ vote(word) }}
    <h2>{{ word.title }}</h2>
  </div>
</div>
<div class="row">
  <div class="span10">
    <p>{{ word.definition }}</p>
  </div>
</div>
<div class="row">
  <div class="span10">
    <p>
    {% for tag in word.tags %}
      <span class="label">{{ tag }}</span>
    {% endfor %}
    </p>
  </div>
</div>
{% endblock %}
