{% extends "base.html" %}
{% from "macros.html" import vote %}

{% block searchbox %}{% endblock %}

{% block content_id %}index{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1>Hallo auch!</h1>
  <p>Du weißt, was ein <a href="{{ url_for('search', q='Dünnbrettbohrer') }}">Dünnbrettbohrer</a>
    ist, bist aber nicht ganz sicher, was eigentlich
    <a href="{{ url_for('search', q='Bauarbeiterdekolleté') }}">Bauarbeiterdekolleté</a>
    bedeutet? Dann bist du hier genau richtig.</p>
  <p><strong>{{ strassendeutsch }} ist ein Wörterbuch der deutschen
    Umgangssprache.</strong></p>
  <p>
    <form method="get" action="{{ url_for('search') }}">
      <input type="text" name="q" value="{{ q }}" placeholder="Suchbegriff eingeben..." class="span5">
      <button type="submit" class="btn primary">Los geht's!</button>
    </form>
  </p>
  <p>Und das beste ist: <strong>{{ strassendeutsch }} ist zum Mitmachen</strong>. Ein
  Wort ist noch nicht in der Liste? Kein Problem: Füge es ganz einfach hinzu!
  Alle Besucher können darüber abstimmen, wie gut eine Definition ist.
  Kein Benutzeraccount nötig, mach einfach mit!</p>
  <p><a class="btn primary large" href="{{ url_for('new_word') }}">
    Neues Wort hinzufügen &raquo;</a>
    <a class="btn primary large" href="{{ url_for('vote_new') }}">
      Über Wörter abstimmen &raquo;</a>
  </p>
</div>

<div class="row">
  <div class="span16">
    <h3>Ein paar Definitionen gefällig?</h3>
  </div>
</div>
<div class="row">
  {% for word in words %}
    <div class="span5 well word">
      {{ vote(word) }}
      <h2><a href="{{ word.to_url }}">{{ word.title }}</a></h2>
      <p>{{ word.definition }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
