{% extends "base.html" %}

{% block searchbox %}{% endblock %}

{% block content_id %}index{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1>Hallo auch!</h1>
  <p>Du weißt, was ein <em>Dünnbrettbohrer</em> ist, bist aber nicht ganz sicher,
  was eigentlich <em>Bauarbeiterdekolleté</em> bedeutet? Dann bist du hier
  genau richtig.</p>
  <p><strong><em>Straßendeutsch</em> ist ein Wörterbuch der deutschen
    Umgangssprache.</strong></p>
  <p>(Suchfeld hier)</p>
  <p>Und das beste ist: <strong>Straßendeutsch ist zum Mitmachen</strong>. Ein
  Wort ist noch nicht in der Liste? Kein Problem: Füge es ganz einfach hinzu!
  Alle Besucher können darüber abstimmen, wie gut eine Definition ist.
  Kein Benutzeraccount nötig, mach einfach mit!</p>
  <p><a class="btn primary large" href="{{ url_for('new_word') }}">
    Neues Wort hinzufügen &raquo;</a>
    <a class="btn primary large">Über Wörter abstimmen &raquo;</a>
  </p>
</div>

<div class="row">
  <div class="span16">
    <h2>Ein paar Definitionen gefällig?</h2>
  </div>
</div>
<div class="row">
  {% for word in words %}
    <div class="span5">
      <h2>{{ word.title }}</h2>
      <p>{{ word.definition }}</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  {% endfor %}
</div>
{% endblock %}
