{% macro nav(active='index') %}
<nav>
  <ul class="nav">
    {% for title, short, href in (
      ('Hauptseite', 'index', url_for('index')),
      ('Beste Wörter', 'top_words', url_for('top_words')),
      ('Neu', 'new_word', url_for('new_word')),
      ('Abstimmen', 'vote_new', url_for('vote_new')),
      ('Über <span class="wordmark">Straßendeutsch</span>'|safe, 'about', url_for('about'))
    ) %}
    <li{{ ' class="active"'|safe if short == active else '' }}><a
      href="{{ href }}">{{ title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}


{% macro vote(word) %}
<div class="vote" data-wordid="{{ word._id }}">
  <a href="{{ url_for('vote', up='1', id=word._id) }}" class="up"><img
    src="{{ url_for('static', filename='img/up.gif') }}" alt="Daumen hoch"
    title="Daumen hoch"></a>{#
  #}<a href="{{ url_for('vote', up='0', id=word._id) }}" class="down"><img
    src="{{ url_for('static', filename='img/down.gif') }}" alt="Daumen runter"
    title="Daumen runter"></a><br>{#
  #}<span class="counts"><strong class="up" title="hoch">{{ word.votes.up }}</strong> /
    <strong class="down" title="runter">{{ word.votes.down }}</strong></span>
</div>
{% endmacro %}


{% macro listitem(word, tags=True, width=8) %}
  <div class="span{{ width }} well word">
    {{ vote(word) }}
    <h2><a href="{{ word.to_url }}">{{ word.title }}</a></h2>
    <p>{{ word.definition }}</p>
    {% if tags %}
      <p>
      {% for tag in word.tags %}
        <a class="label" href="{{ url_for('search', q=tag) }}">{{ tag }}</a>
      {% endfor %}
      </p>
    {% endif %}
  </div>
{% endmacro %}