{% extends "base.html" %}
{% from "macros.html" import vote %}

{% block title %}Suche: {{ q }}{% endblock %}
{% block content_id %}search{% endblock %}

{% block content %}
<div class="row">
  <div class="span8">
    <h1>Suchergebnisse für "{{ q }}"</h1>
  </div>
</div>

{% for word in words %}
  <div class="row">
    <div class="span8 well word">
      {{ vote(word) }}
      <h2><a href="{{ word.to_url }}">{{ word.title }}</a></h2>
      <p>{{ word.definition }}</p>
      <p>
      {% for tag in word.tags %}
        <span class="label">{{ tag }}</span>
      {% endfor %}
      </p>
    </div>
  </div>
{% endfor %}

{% endblock %}
